body{
    background-color: #cce8fa;
    margin: 0;
    font-family: 'Xanh Mono', monospace;

}
#top {
    background-color: #cce8fa;
}
h1{
    text-align: center;
    font-family: 'Xanh Mono', monospace;
    color: #0f2b3d;
    margin-top: 0;
    padding: 1rem;
    font-size: 3rem;
}
h2{
    color:#215063;
    padding: 1rem;
    font-family: 'Xanh Mono', monospace;
    font-size: 30px;
    margin: 20px; 
}

h3{
    color:#215063;
    font-size: 30px;
    padding:1rem;
    font-family: 'Xanh Mono', monospace;
    margin: 20px;
}
p{
   display: block;
   margin: 20px; 
   padding: 1rem;
   font-family: 'Xanh Mono', monospace;
   color: #5e5e5e
}
a{
    color: #cce8fa;
}
.pic {
    max-width: 100%;
    height: auto;
}
